{% extends "base.html" %}
{% load static %}
{% block content %}
<title>Search Hotels</title>
<link rel="stylesheet" type="text/css" href="{% static 'hotel_finder/styles.css' %}"/>
<div class="search_hotels_container">
  <h1>Search Hotels</h1>
  {% if error_message %}
  <ul>
    <li style="color: red">{{ error_message }}</li>
  </ul>
  {% endif %}
  <form method="POST" action="{% url 'search_hotels' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Find Hotels</button>
  </form>
  {% if hotels %}
  <div id="hotel-results">
    <h2>Hotels</h2>
    <div id="hotels-container">
      {% for hotel in hotels %}
      <div class="hotel-card">
        <img
          src="{{ hotel.property.photoUrls.0 }}"
          alt="{{ hotel.property.name }}"
          width="200"
        />
        <h3>{{ hotel.property.name }}</h3>
        <p>
          Price: {{ hotel.property.priceBreakdown.grossPrice.value|floatformat:0 }}
          {{ hotel.property.priceBreakdown.grossPrice.currency }}
        </p>
        <p>Review score: {{ hotel.property.reviewScore }} / 10</p>
        <a href="{{ hotel.bookingUrl }}" target="_blank" class="btn btn-primary book-btn">
          Book Hotel
        </a>
      </div>
      {% endfor %}
    </div>
    {% if hotels.paginator.num_pages > 1 %}
    <div class="pagination-container">
        <div class="pagination">
            {% if hotels.has_previous %}
                <button type="submit" name="page" value="1" class="page-link first-page" title="First page">
                    <i class="fas fa-angle-double-left"></i>
                </button>
                <button type="submit" name="page" value="{{ hotels.previous_page_number }}" class="page-link">
                    <i class="fas fa-angle-left"></i>
                </button>
            {% endif %}
            {% for num in hotels.paginator.page_range %}
                {% if num == hotels.number %}
                    <span class="page-link active">{{ num }}</span>
                {% else %}
                    <button type="submit" name="page" value="{{ num }}" class="page-link">{{ num }}</button>
                {% endif %}
            {% endfor %}
            {% if hotels.has_next %}
                <button type="submit" name="page" value="{{ hotels.next_page_number }}" class="page-link">
                    <i class="fas fa-angle-right"></i>
                </button>
                <button type="submit" name="page" value="{{ hotels.paginator.num_pages }}" class="page-link last-page" title="Last page">
                    <i class="fas fa-angle-double-right"></i>
                </button>
            {% endif %}
        </div>
    </div>
    {% endif %}
  </div>
  {% else %}
  <p id="no-hotels-msg">No hotels found. Please try again with different details.</p>
  {% endif %} 
</div>
{% endblock %}