.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.container h1 {
    font-size: 3rem;
    font-weight: bold;
    color: #F5007A;
    margin: 0;
}

.create-post-btn {
    background-color: #F5D000;
    color: white;
    border: none;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 8px;
    transition: background-color 0.3s ease-in-out;
    display: flex;
    align-items: center;
}

.create-post-btn i {
    margin-right: 8px;
    color: white;
}

.create-post-btn:hover {
    background-color: #e5c000;
    color: white;
}

.create-post-btn i {
    margin-right: 8px;
    color: white;
}

.container a {
    text-decoration: none;
    cursor: pointer;
}

.posts-container {
    background-color: #f8f9fa;
    padding: 20px;
    border: 1px solid #f8f9fa;
    border-radius: 10px;
    margin: 1rem 0;
}

.post-card {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

.post-card:hover {
    transform: scale(1.02);
    cursor: pointer;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card-body {
    padding: 15px;
}

.card-title {
    font-size: 20px;
    font-weight: bold;
    color: #cb0367;
}

.delete-btn {
    background-color: #F5007A;
    border: none;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.delete-btn:hover {
    background-color: #c4005e;
}