{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'user_trips/trip_detail.css' %}" />

<a href="{% url 'list_trips' %}" class="back-to-trips-link">
    <i class="fas fa-arrow-left"></i> Back to Trips
</a>
<div>
    <h1>Trip to {{ trip.destination }}</h1>
    <p>Start Date: {{ trip.start_date }}</p>
    <p>End Date: {{ trip.end_date }}</p>
</div>

<button
  type="button"
  class="btn btn-primary"
  data-bs-toggle="modal"
  data-bs-target="#searchHotelModal"
>
  Search for Accommodation
</button>

<div
  class="modal fade"
  id="searchHotelModal"
  tabindex="-1"
  aria-labelledby="searchHotelModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="searchHotelModalLabel">Search for Accommodation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="hotelSearchForm" method="post" action="{% url 'search_hotels' %}">
          {% csrf_token %}
          <div class="mb-3">
            <label for="destination" class="form-label">Destination</label>
            <input
              type="text"
              class="form-control"
              id="destination"
              name="destination"
              value="{{ trip.destination }}"
              required
            />
          </div>
          <div class="mb-3">
            <label for="start_date" class="form-label">Check-In Date</label>
            <input
                type="date"
                class="form-control"
                id="start_date"
                name="arrival_date"
                value="{{ trip.start_date|date:'Y-m-d' }}"
                required
            />
            </div>
            <div class="mb-3">
                <label for="end_date" class="form-label">Check-Out Date</label>
                <input
                    type="date"
                    class="form-control"
                    id="end_date"
                    name="departure_date"
                    value="{{ trip.end_date|date:'Y-m-d' }}"
                    required
                />
            </div>
          <button type="submit" class="btn btn-success">Search</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}