body {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
    font-family: "Inter", sans-serif;
    font-size: 1.2rem;
    color: #ff69b4;
}

html {
    overflow: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.logo {
    height: 60px;
    width: 60px;
}

.brand-title {
    font-family: "Pacifico", cursive;
    font-size: 1.2rem;
    font-weight: bold;
    background: linear-gradient(90deg, #ff69b4, #ffd700);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
}

.navbar-nav  {
    text-decoration: none;
    background-color: transparent;
    border: none;
    box-shadow: none;
    text-transform: none;
    padding: 10px 20px;
    color: black;
}

.navbar-nav:hover, .nav-link:hover
{
    background-color: transparent;
    border: none;
    box-shadow: none;
    text-transform: none;
}

footer {
    text-align: center;
    padding: 20px;
    margin: 0;
    color: white;
    background: linear-gradient(90deg, #ff69b4, #ffd700);
}

footer.footer-expanded {
    margin-left: 20%;
}

footer a {
    color: white;
    text-decoration: none;
}