{% extends "base.html" %} {% load static %} {% block content %}
<title>Travel Planner</title>
<link rel="stylesheet" type="text/css" href="{% static 'main/styles.css' %}" />

<h1>Welcome to Travel Planner</h1>
<p>Start planning your trips!</p>

{% if request.user.is_authenticated %} {% if trips %}
<ul>
  {% for trip in trips%}
  <li>
    <a href="{% url 'trip_detail' trip.id %}">
      {{ trip.destination }} ({{ trip.start_date }} - {{ trip.end_date }})
    </a>
  </li>
  {% endfor %}
</ul>
{% endif %}
{% include "create_trip_modal.html" %}
{% else %}
<a class="homepage-btn" href="{% url 'register' %}">Register</a>
<a class="homepage-btn" href="{% url 'login' %}">Login</a>
{% endif %}
<hr />
{% endblock %}